@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar{
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (max-width:768px) {
    
    .disussionForumCard::-webkit-scrollbar {
    display: none;
}

.disussionForumCard{
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

}